body{
    background-color: black;

}

h1{
    text-align: center;
    text-shadow: 3px 3px 3px green;
    font-family: "Stencil";
    font-size: 40px;
    color: #c1ff72;
    margin: 10px;
}

h2{
    color: white;
    font-size: 30px;
    padding: 10px;
}

nav ul{

    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 5px;
}

nav li{

    padding-bottom: 10px;
}

li{
    color: white;
    
}

img{

    width: 1920px;
    height: 500px;
    padding-bottom: 10px;
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}


#change{

    color: #c1ff72;
}

#change:hover{

    color: white;
}



footer p{
       
        bottom: 0;
        position: absolute;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
}

